@model projectE.Models.Equipment_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipment_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type_Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Names)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ET_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
