
@{
    ViewBag.Title = "Faith";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="page-chunk">
                    <div id="search-content" style="display: none;">
                        <style>
                            .gsc-tabHeader.gsc-tabhActive {
                                color: inherit;
                            }

                            .cse .gsc-control-cse, .gsc-control-cse {
                                background-color: inherit;
                                border: inherit;
                            }

                            .gsc-refinementsArea {
                                display: none;
                            }

                            .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                color: inherit;
                            }

                            .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                color: inherit;
                            }

                            .gs-result .gs-title, .gs-result .gs-title * {
                                color: #FFF;
                            }

                                .gs-result .gs-title, .gs-result .gs-title * {
                                    color: #FFF;
                                }

                            .gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em {
                                color: inherit;
                            }

                            .gsc-table-result {
                                border: none;
                            }

                                .gsc-table-result th, td {
                                    border: none;
                                }

                            .gsc-resultsHeader {
                                display: none;
                            }

                            .gsc-adBlock {
                                display: none;
                            }

                            .gs-richsnippet-box {
                                display: none !important;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                color: inherit;
                            }

                            .gsc-webResult .gsc-result {
                                background-color: inherit;
                            }

                            .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
                                color: inherit;
                            }

                            .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
                                color: inherit;
                            }

                            .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
                                color: inherit;
                            }

                            .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
                                background-color: inherit !important;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
                                border-color: inherit;
                                background-color: inherit;
                                color: inherit;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                border-color: inherit;
                                background-color: inherit;
                                color: inherit;
                            }

                            .gsc-webResult.gsc-result {
                                padding: .25em;
                                border: none !important;
                                margin-bottom: 0
                            }

                            .gsc-above-wrapper-area {
                                border-bottom: none !important;
                                padding: 5px 0
                            }

                            .cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
                                border: none !important
                            }

                            .gsc-tabsArea {
                                margin-top: 12px;
                                margin-bottom: 0;
                                height: 29px;
                                border-bottom: none !important
                            }

                            .gsc-result-info-container {
                                text-align: left;
                                display: none !important
                            }
                        </style>
                        <h4 class="search-title">Search Results</h4>
                        <ul id="search-result" class="list-unstyled list-results"></ul>
                        <div id="search-result-paging"></div>
                        <gcse:searchresults></gcse:searchresults>
                    </div>
                    <div id="main-content" data-wid="9e216d5b-fa7a-4724-bcf5-2a8fd15cce86" data-pid="986977c9-82f9-4b16-9fe5-426fd8900f77" data="010|010|010" data-ga="u|a|a|o|o|o|o|u">
                        <div itemscope="" itemtype="https://schema.org/Article">







                            <div id="page-content-header-container">
                                <div class="clearfix">
                                    <div class="page-segment">
                                        <h1 itemprop="headline">


                                            <a id="page-title" href="https://eldenring.wiki.fextralife.com/Faith">Faith | Elden Ring Wiki</a>


                                        </h1>

                                        <div class="page-segment-btns">

                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="btnPE" style="display: none;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="hidden-xs"> Edit</span></button>
                                                <button id="btnComments" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="view discussions"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><span id="amcom"> 135</span></button>
                                                <button id="btnPageHistory" class="btn btn-default hidden-xs hidden-sm" data-toggle="tooltip" data-placement="bottom" title="view 78 revisions"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 78</button>
                                                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false" title="more options">…</button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a id="btnTrddmA" href="" style="display: none;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create new page</a></li>
                                                    <li><a id="btnTrddmB" href="" style="display: none;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
                                                    <li><a id="btnTrddmHistory" href=""><span class="glyphicon glyphicon-time" aria-hidden="true"></span> History</a></li>
                                                    <li><a id="btnTrddmChanges" href=""><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Recent Changes</a></li>
                                                    <li><a id="btnTrddmE" href="" style="display: none;"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Rename</a></li>
                                                    <li><a id="btnTrddmF" href="" style="display: none;"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Redirect</a></li>
                                                    <li><a id="btnTrddmG" href="" style="display: none;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Lock</a></li>
                                                    <li><a id="btnTrddmH" href="" style="display: none;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Unlock</a></li>

                                                    <li id="divider-trddm-a" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmJ" href="" style="display: none;"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Permissions</a></li>
                                                    <li><a id="btnTrddmK" href="" style="display: none;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Javascript</a></li>
                                                    <li><a id="btnTrddmL" href="" style="display: none;"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</a></li>
                                                    <li><a id="btnTrddmM" href="" style="display: none;"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Edit Open Graph</a></li>
                                                    <li id="divider-trddm-b" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmN" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear page cache</a></li>
                                                    <li><a id="btnTrddmO" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear comments cache</a></li>
                                                    <li id="divider-trddm-c" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmP" href="" style="display: none;"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> File Manager</a></li>
                                                    <li><a id="btnTrddmQ" href="" style="display: none;"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Page Manager</a></li>
                                                    <li><a id="btnTrddmR" href="" style="display: none;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Wiki Templates</a></li>
                                                    <li><a id="btnTrddmS" href="" style="display: none;"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Comments Approval</a></li>
                                                    <li><a id="btnTrddmT" href="" style="display: none;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Wiki Settings</a></li>
                                                    <li><a id="btnTrddmU" href="" style="display: none;"><span class="glyphicon glyphicon-king" aria-hidden="true"></span> Wiki Manager</a></li>
                                                    <li id="divider-trddm-d" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmV" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="breadcrumb-wrapper">



                                    <div class="breadcrumbs pull-left">
                                        <div id="breadcrumbs-container">
                                            <a href="https://eldenring.wiki.fextralife.com/Character+Information">Character Information</a>&nbsp;/&nbsp;<a href="https://eldenring.wiki.fextralife.com/Stats">Stats</a>
                                            <div id="breadcrumbs-bcontainer" style="display:none;">&nbsp;&nbsp;<a id="btnCreateBreadcrumb" title="Add Breadcrumb" href="#">+</a></div>
                                        </div>
                                    </div>

                                    <div class="revisiondate pull-right"><time itemprop="dateModified" id="dateModified" datetime="2022-06-02T18:36:38+0700">Updated: 02 Jun 2022 18:36</time></div>


                                </div>
                            </div>
                            <div id="palerts" class="clearfix"></div>


                            <br>

                            <div id="edition" style="display:none; margin-top: 0px;"></div>

                            <div id="sub-main">
                                <div id="wiki-content-block">





                                    <div id="infobox" class="infobox">
                                        <br>
                                        <div class="table-responsive">
                                            <table class="wiki_table">
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2"> <h2>Faith</h2> </th>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>Main Attribute</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Effect</td>
                                                        <td><em>Attribute required to perform sacred Incantations. Also boosts magic power of faith-scaling <a class="wiki_link" title="Elden Ring Incantations" href="/Incantations" target="">Incantations</a>.</em></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <p><strong>Faith</strong>&nbsp;is&nbsp;one of the&nbsp;<a class="wiki_link" title="Elden Ring Stats" href="/Stats" target="">Stats</a>&nbsp;in <strong><a class="wiki_link" title="Elden Ring Wiki" href="/Elden+Ring+Wiki">Elden Ring</a></strong>. <strong>Stats</strong>&nbsp;refer to various properties that govern your character's strengths and weaknesses, as well as how they are affected by interactions in and out of combat.&nbsp;<strong>Faith</strong>&nbsp;primarily affects a player's ability to&nbsp;cast <a class="wiki_link" title="Elden Ring Incantations" href="/Incantations" target="">Incantations</a>,&nbsp;as well as equipping the weapons required to cast them.&nbsp;It is one of the 8&nbsp;<strong>Main</strong>&nbsp;<strong>Attributes</strong>&nbsp;that players can spend <a class="wiki_link" title="Elden Ring Runes" href="/Runes" target="">Runes</a>&nbsp;on&nbsp;to&nbsp;level up, increasing the Stat's effectiveness and influencing their relative secondary stats. Stats such as <strong>Faith</strong>&nbsp;are an important aspect of character progression in Elden Ring.</p>
                                    <p>&nbsp;</p>
                                    <h3 class="bonfire">Faith Stat&nbsp;General Information</h3>
                                    <ul>
                                        <li><strong>Faith&nbsp;(FTH)</strong>&nbsp;is a <strong>Main Attribute</strong> that is required to cast most <a class="wiki_link" title="Elden Ring Incantations" href="/Incantations" target="">Incantations</a>. It is also a requirement to cast death <a class="wiki_link" title="Elden Ring Sorceries" href="/Sorceries">Sorceries</a> and thorn sorceries. It is a primary requirement for equipping <a class="wiki_link" title="Elden Ring Sacred Seals" href="/Sacred+Seals">Sacred Seals</a>, which are used to cast incantations.</li>
                                        <li>Weapons in Elden Ring&nbsp;have a minimum Stat requirement that needs to be met before the weapon can be wielded. In the case of spell-based weapons, most of them require investment in either the&nbsp;Intelligence or <a class="wiki_link" title="Elden Ring Faith" href="/Faith" target="">Faith</a>&nbsp;stats, or a combination of both. For example, the <a class="wiki_link" title="Elden Ring Finger Seal" href="/Finger+Seal" target="">Finger Seal</a>&nbsp;requires&nbsp;10&nbsp;<strong>FTH</strong>&nbsp;to equip. Some weapons may also require points in <a class="wiki_link" title="Elden Ring Strength" href="/Strength" target="">Strength</a>, <a class="wiki_link" title="Elden Ring Dexterity" href="/Dexterity" target="">Dexterity</a>, <a class="wiki_link" title="Elden Ring Intelligence" href="/Intelligence" target="">Intelligence</a> or&nbsp;<a class="wiki_link" title="Elden Ring Arcane" href="/Arcane" target="">Arcane</a>&nbsp;in order to wield.</li>
                                        <li>Weapons are also given a <strong>Scaling Grade</strong>&nbsp;denoting the degree to which they scale with an attribute. Each point allocated to the&nbsp;Faith stat increases the effectiveness and damage dealt by <a class="wiki_link" title="Elden Ring Incantations" href="/Incantations" target="">Incantations</a>&nbsp;cast&nbsp;with weapons&nbsp;that have&nbsp;Faith scaling. A weapon with a Faith scaling grade of <span style="color: #ffffff;">S</span> will benefit the most from the&nbsp;Faith Attribute, followed by grades <span style="color: #ffffff;">A</span>, <span style="color: #ffffff;">B</span>, <span style="color: #ffffff;">C</span>, <span style="color: #ffffff;">D</span>, and <span style="color: #ffffff;">E</span>.</li>
                                        <li>Note that attributes will incur diminishing returns at higher levels, significantly reducing their benefits after a certain point with regards to weapon scaling. This is often referred to as the 'Soft Cap'. A 'Hard Cap' also exists in which additional points in an attribute returns little to no benefit.</li>
                                        <li>When scaling the attack power of a melee armament, like all stats,&nbsp;<strong>Faith</strong> soft caps differ depending on the weapon and the damage type being scaled. Scaling on magic, fire, lightning, or holy damage is always 20/50/80. Scaling on physical damage may be 18/60/80 or 20/60/80.</li>
                                        <li>
                                            When scaling the sorcery scaling or incantation scaling of a Catalyst, <strong>Faith</strong> soft caps differ depending on the catalyst. The soft caps can be 18/60/80, 25/60/80, or 15/30/45. The soft caps of <strong>Faith</strong> on each catalyst are as follows:
                                            <ul>
                                                <li><a class="wiki_link" title="Elden Ring Gelmir Glintstone Staff" href="/Gelmir+Glintstone+Staff">Gelmir Glintstone Staff</a> -&nbsp;15/30/45</li>
                                                <li><a class="wiki_link" title="Elden Ring Prince of Death's Staff" href="/Prince+of+Death's+Staff">Prince of Death's Staff </a>-&nbsp;25/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Staff of the Guilty" href="/Staff+of+the+Guilty">Staff of the Guilty</a> -&nbsp;18/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Finger Seal" href="/Finger+Seal">Finger Seal</a> -&nbsp;18/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Godslayer's Seal" href="/Godslayer's+Seal">Godslayer's Seal</a> -&nbsp;18/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Giant's Seal" href="/Giant's+Seal">Giant's Seal</a> -&nbsp;18/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Gravel Stone Seal" href="/Gravel+Stone+Seal">Gravel Stone Seal</a> -&nbsp;18/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Clawmark Seal" href="/Clawmark+Seal">Clawmark Seal</a> -&nbsp;15/30/45</li>
                                                <li><a class="wiki_link" title="Elden Ring Golden Order Seal" href="/Golden+Order+Seal">Golden Order Seal</a> -&nbsp;15/30/45</li>
                                                <li><a class="wiki_link" title="Elden Ring Erdtree Seal" href="/Erdtree+Seal">Erdtree Seal</a> -&nbsp;25/60/80</li>
                                                <li><a class="wiki_link" title="Elden Ring Dragon Communion Seal" href="/Dragon+Communion+Seal">Dragon Communion Seal</a>&nbsp;- 15/30/45</li>
                                                <li><a class="wiki_link" title="Elden Ring Frenzied Flame Seal" href="/Frenzied+Flame+Seal">Frenzied Flame Seal</a> -&nbsp;15/30/45</li>
                                            </ul>
                                        </li>
                                        <li><strong>Faith</strong>&nbsp;is one of the Main Attributes that players can spend <a class="wiki_link" title="Elden Ring Runes" href="/Runes" target="">Runes</a>&nbsp;on in order to level up. The ability to level up is unlocked shortly after meeting <a class="wiki_link" title="Elden Ring Melina" href="/Melina" target="">Melina</a>&nbsp;for the first time near the beginning of the game.</li>
                                    </ul>
                                    <h3 class="bonfire">Adding Faith Scaling to Weapons</h3>
                                    <p>On weapons that do not have innate faith scaling, players can obtain certain whetblades to add specific elemental damage and affinities to a weapon when infusing it with <a class="wiki_link" title="Elden Ring Ashes of War" href="/Ashes+of+War">Ashes of War</a>. Weapons that cannot be infused with Ashes of War cannot have scalings added.</p>
                                    <div class="table-responsive">
                                        <table class="sortable wiki_table" style="width: 1182px;">
                                            <thead>
                                                <tr style="height: 46px;">
                                                    <td style="width: 155.633px; height: 46px; text-align: center;"><strong>Name</strong></td>
                                                    <td style="width: 715.367px; height: 46px; text-align: center;"><strong>Notes</strong></td>
                                                    <td style="width: 307px; height: 46px; text-align: center;"><strong>Location</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr style="height: 62px;">
                                                    <td style="width: 155.633px; text-align: center; height: 62px;"><a class="wiki_link" title="Elden Ring Red-Hot Whetblade" href="/Red-Hot+Whetblade"><img title="red-hot_whetblade_elden_ring_wiki_guide_200px" src="/file/Elden-Ring/red-hot_whetblade_elden_ring_wiki_guide_200px.png" alt="red hot whetblade elden ring wiki guide 200px" width="75"><br>Red-Hot Whetblade</a></td>
                                                    <td style="width: 715.367px; height: 62px;">When applying an affinity using physical or flame-type ashes of war, a base faith scaling of D can be added with Flame Art. This will also add <a class="wiki_link" title="Elden Ring Fire Damage" href="/Fire+Damage">fire damage</a> to the weapon.</td>
                                                    <td style="width: 307px; height: 62px;"><a class="wiki_link" title="Elden Ring Caelid" href="/Caelid">Caelid</a>. After defeating <a class="wiki_link" title="Elden Ring Starscourge Radahn" href="/Starscourge+Radahn">Radahn</a>, found inside <a class="wiki_link" title="Elden Ring Redmane Castle" href="/Redmane+Castle">Redmane Castle</a> past an Iron Maiden.</td>
                                                </tr>
                                                <tr style="height: 149.3px;">
                                                    <td style="width: 155.633px; text-align: center; height: 149.3px;"> <p><a class="wiki_link" title="Elden Ring Sanctified Whetblade" href="/Sanctified+Whetblade"><img style="width: 75px; height: 75px;" title="sancrified_whetblade_elden_ring_wiki_guide_200px" src="/file/Elden-Ring/sancrified_whetblade_elden_ring_wiki_guide_200px.png" alt="sancrified whetblade elden ring wiki guide 200px" width="75" height="75"><br>Sanctified Whetblade</a></p> </td>
                                                    <td style="width: 715.367px; height: 149.3px;">When applying an affinity using physical or golden-type ashes of war, a base faith scaling of D can be added with Sacred. This will also add <a class="wiki_link" title="Elden Ring Holy Damage" href="/Holy+Damage">holy damage</a> to the weapon.</td>
                                                    <td style="width: 307px; height: 149.3px;"><a class="wiki_link" title="Elden Ring Altus Plateau" href="/Altus+Plateau">Altus Plateau</a>. <a class="wiki_link" title="Elden Ring Leyndell, Royal Capital" href="/Leyndell,+Royal+Capital">Leyndell, Royal Capital</a>. Inside the <a class="wiki_link" title="Elden Ring Leyndell Royal Capital (Legacy Dungeon)" href="/Leyndell+Royal+Capital+(Legacy+Dungeon)">Fortified Manor</a> on a corpse laying next to an anvil.</td>
                                                </tr>
                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>






                                </div>
                                <br><br><br>


                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

