
@{
    ViewBag.Title = "Strength";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="page-chunk">
                    <div id="search-content" style="display: none;">
                        <style>
                            .gsc-tabHeader.gsc-tabhActive {
                                color: inherit;
                            }

                            .cse .gsc-control-cse, .gsc-control-cse {
                                background-color: inherit;
                                border: inherit;
                            }

                            .gsc-refinementsArea {
                                display: none;
                            }

                            .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                color: inherit;
                            }

                            .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
                                color: inherit;
                            }

                            .gs-result .gs-title, .gs-result .gs-title * {
                                color: #FFF;
                            }

                                .gs-result .gs-title, .gs-result .gs-title * {
                                    color: #FFF;
                                }

                            .gsc-preview-reviews, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em, .gsc-control-cse .gs-snippet, .gsc-control-cse .gs-promotion em {
                                color: inherit;
                            }

                            .gsc-table-result {
                                border: none;
                            }

                                .gsc-table-result th, td {
                                    border: none;
                                }

                            .gsc-resultsHeader {
                                display: none;
                            }

                            .gsc-adBlock {
                                display: none;
                            }

                            .gs-richsnippet-box {
                                display: none !important;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                color: inherit;
                            }

                            .gsc-webResult .gsc-result {
                                background-color: inherit;
                            }

                            .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
                                color: inherit;
                            }

                            .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
                                color: inherit;
                            }

                            .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
                                color: inherit;
                            }

                            .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
                                background-color: inherit !important;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
                                border-color: inherit;
                                background-color: inherit;
                                color: inherit;
                            }

                            .gsc-results .gsc-cursor-box .gsc-cursor-page {
                                border-color: inherit;
                                background-color: inherit;
                                color: inherit;
                            }

                            .gsc-webResult.gsc-result {
                                padding: .25em;
                                border: none !important;
                                margin-bottom: 0
                            }

                            .gsc-above-wrapper-area {
                                border-bottom: none !important;
                                padding: 5px 0
                            }

                            .cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
                                border: none !important
                            }

                            .gsc-tabsArea {
                                margin-top: 12px;
                                margin-bottom: 0;
                                height: 29px;
                                border-bottom: none !important
                            }

                            .gsc-result-info-container {
                                text-align: left;
                                display: none !important
                            }
                        </style>
                        <h4 class="search-title">Search Results</h4>
                        <ul id="search-result" class="list-unstyled list-results"></ul>
                        <div id="search-result-paging"></div>
                        <gcse:searchresults></gcse:searchresults>
                    </div>
                    <div id="main-content" data-wid="9e216d5b-fa7a-4724-bcf5-2a8fd15cce86" data-pid="c8674e7b-d43c-4159-9925-ac1db2ad5121" data="010|010|010" data-ga="u|a|a|o|o|o|o|u">
                        <div itemscope="" itemtype="https://schema.org/Article">







                            <div id="page-content-header-container">
                                <div class="clearfix">
                                    <div class="page-segment">
                                        <h1 itemprop="headline">


                                            <a id="page-title" href="https://eldenring.wiki.fextralife.com/Strength">Strength | Elden Ring Wiki</a>


                                        </h1>

                                        <div class="page-segment-btns">

                                            <div class="btn-group btn-group-sm" role="group">
                                                <button id="btnPE" style="display: none;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="hidden-xs"> Edit</span></button>
                                                <button id="btnComments" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="view discussions"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><span id="amcom"> 144</span></button>
                                                <button id="btnPageHistory" class="btn btn-default hidden-xs hidden-sm" data-toggle="tooltip" data-placement="bottom" title="view 49 revisions"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 49</button>
                                                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false" title="more options">…</button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                    <li><a id="btnTrddmA" href="" style="display: none;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create new page</a></li>
                                                    <li><a id="btnTrddmB" href="" style="display: none;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
                                                    <li><a id="btnTrddmHistory" href=""><span class="glyphicon glyphicon-time" aria-hidden="true"></span> History</a></li>
                                                    <li><a id="btnTrddmChanges" href=""><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Recent Changes</a></li>
                                                    <li><a id="btnTrddmE" href="" style="display: none;"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Rename</a></li>
                                                    <li><a id="btnTrddmF" href="" style="display: none;"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Redirect</a></li>
                                                    <li><a id="btnTrddmG" href="" style="display: none;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Lock</a></li>
                                                    <li><a id="btnTrddmH" href="" style="display: none;"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Unlock</a></li>

                                                    <li id="divider-trddm-a" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmJ" href="" style="display: none;"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Permissions</a></li>
                                                    <li><a id="btnTrddmK" href="" style="display: none;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Javascript</a></li>
                                                    <li><a id="btnTrddmL" href="" style="display: none;"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</a></li>
                                                    <li><a id="btnTrddmM" href="" style="display: none;"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Edit Open Graph</a></li>
                                                    <li id="divider-trddm-b" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmN" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear page cache</a></li>
                                                    <li><a id="btnTrddmO" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear comments cache</a></li>
                                                    <li id="divider-trddm-c" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmP" href="" style="display: none;"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> File Manager</a></li>
                                                    <li><a id="btnTrddmQ" href="" style="display: none;"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Page Manager</a></li>
                                                    <li><a id="btnTrddmR" href="" style="display: none;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Wiki Templates</a></li>
                                                    <li><a id="btnTrddmS" href="" style="display: none;"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Comments Approval</a></li>
                                                    <li><a id="btnTrddmT" href="" style="display: none;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Wiki Settings</a></li>
                                                    <li><a id="btnTrddmU" href="" style="display: none;"><span class="glyphicon glyphicon-king" aria-hidden="true"></span> Wiki Manager</a></li>
                                                    <li id="divider-trddm-d" class="divider" style="display: none;"></li>
                                                    <li><a id="btnTrddmV" href="" style="display: none;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="breadcrumb-wrapper">



                                    <div class="breadcrumbs pull-left">
                                        <div id="breadcrumbs-container">
                                            <a href="https://eldenring.wiki.fextralife.com/Character+Information">Character Information</a>&nbsp;/&nbsp;<a href="https://eldenring.wiki.fextralife.com/Stats">Stats</a>
                                            <div id="breadcrumbs-bcontainer" style="display:none;">&nbsp;&nbsp;<a id="btnCreateBreadcrumb" title="Add Breadcrumb" href="#">+</a></div>
                                        </div>
                                    </div>

                                    <div class="revisiondate pull-right"><time itemprop="dateModified" id="dateModified" datetime="2022-06-04T00:18:19+0700">Updated: 04 Jun 2022 00:18</time></div>


                                </div>
                            </div>
                            <div id="palerts" class="clearfix"></div>


                            <br>

                            <div id="edition" style="display:none; margin-top: 0px;"></div>

                            <div id="sub-main">
                                <div id="wiki-content-block">





                                    <div id="infobox" class="infobox">
                                        <div class="table-responsive">
                                            <table class="wiki_table">
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2"> <h2>Strength</h2> </th>
                                                    </tr>
                                                    <tr>
                                                        <td>Type</td>
                                                        <td>Main Attribute</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Effects</td>
                                                        <td>Attribute required to wield heavy armaments.<br>Also boosts attacks power of strength-scaling armaments and affects your <a class="wiki_link" title="Elden Ring Physical Defense" href="/Physical+Defense" target="">Physical Defense</a>.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <p><strong>Strength</strong>&nbsp;is&nbsp;one of the&nbsp;<a class="wiki_link" title="Elden Ring Stats" href="/Stats" target="">Stats</a>&nbsp;in <strong><a class="wiki_link" title="Elden Ring Wiki" href="/Elden+Ring+Wiki">Elden Ring</a></strong>. <strong>Stats</strong>&nbsp;refer to various properties that govern your character's strengths and weaknesses, as well as how they are affected by interactions in and out of combat.&nbsp;<strong>Strength</strong>&nbsp;primarily affects a player's ability to wield Strength-based <a class="wiki_link" title="Elden Ring Weapons" href="/Weapons" target="">Armaments</a>, as well as the damage dealt by such weapons.&nbsp;It is one of the 8&nbsp;<strong>Main</strong>&nbsp;<strong>Attributes</strong>&nbsp;that players can spend <a class="wiki_link" title="Elden Ring Runes" href="/Runes" target="">Runes</a>&nbsp;on&nbsp;to&nbsp;level up, increasing the Stat's effectiveness and influencing their relative secondary stats. Stats such as <strong>Strength</strong>&nbsp;are an important aspect of character progression in Elden Ring.</p>
                                    <p>&nbsp;</p>
                                    <h3 class="bonfire">Elden Ring Strength Stat General Information</h3>
                                    <ul>
                                        <li><strong>Strength&nbsp;(STR)</strong>&nbsp;is a <strong>Main Attribute</strong> that primarily&nbsp;allows the wielding of Strength-based <a class="wiki_link" title="Elden Ring Weapons" href="/Weapons" target="">Armaments</a>&nbsp;(Weapons). It also acts as the primary modifier that influences the damage dealt by such weapons.</li>
                                        <li>Weapons in Elden Ring&nbsp;have a minimum Stat requirement that needs to be met before the weapon can be wielded. Most weapons require investment in either the Strength or <a class="wiki_link" title="Elden Ring Dexterity" href="/Dexterity" target="">Dexterity</a> stats, or a combination of both. For example, <a class="wiki_link" title="Elden Ring Ordovis' Greatsword" href="/Ordovis'+Greatsword">Ordovis' Greatsword</a>&nbsp;requires 14&nbsp;<strong>STR</strong> and 8 <strong>DEX</strong> to equip. Some weapons may also require points in <a class="wiki_link" title="Elden Ring Intelligence" href="/Intelligence" target="">Intelligence</a>, <a class="wiki_link" title="Elden Ring Faith" href="/Faith" target="">Faith</a>&nbsp;or <a class="wiki_link" title="Elden Ring Arcane" href="/Arcane" target="">Arcane</a>&nbsp;in order to wield. This is especially true for spell-based weapons such as <a class="wiki_link" title="Elden Ring Glintstone Staffs" href="/Glintstone+Staffs" target="">Glintstone Staves</a>&nbsp;and <a class="wiki_link" title="Elden Ring Sacred Seals" href="/Sacred+Seals" target="">Sacred Seals</a>.</li>
                                        <li>Weapons are also given a <strong>Scaling Grade</strong>&nbsp;denoting the degree to which they scale with an attribute. Each point allocated to the Strength stat increases the damage dealt by weapons with Strength scaling. A weapon with a Strength scaling grade of <span style="color: #ffffff;">S</span> will benefit the most from the Strength Attribute, followed by grades <span style="color: #ffffff;">A</span>, <span style="color: #ffffff;">B</span>, <span style="color: #ffffff;">C</span>, <span style="color: #ffffff;">D</span>, and <span style="color: #ffffff;">E</span>.</li>
                                        <li>Note that attributes will incur diminishing returns at higher levels, significantly reducing their benefits after a certain point with regards to weapon scaling. This is often referred to as the 'Soft Cap'. A 'Hard Cap' also exists in which additional points in an attribute returns little to no benefit.</li>
                                        <li>When scaling the attack power of a melee armament, like all stats,&nbsp;<strong>Strength</strong> soft caps differ depending on the weapon and the damage type being scaled. Scaling on physical damage&nbsp;is often 18/60/80 by default, 20/60/80 on heavy affinities and some unique weapons, and 16/60/80 on quality affinities. Strength has a hard cap of 150 when scaling physical damage. Note that in the rare case that magic, fire, lightning, or holy scales on strength, the soft caps are always 20/50/80 with a hard cap at 99, even when two-handing.</li>
                                        <li>When scaling the incantation scaling of the <a class="wiki_link" title="Elden Ring Clawmark Seal" href="/Clawmark+Seal">Clawmark Seal</a>&nbsp;or the <a class="wiki_link" title="Elden Ring Frenzied Flame Seal" href="/Frenzied+Flame+Seal">Frenzied Flame Seal</a>, <strong>Strength</strong> soft caps are 15/30/45.</li>
                                        <li>Wielding an Armament with two hands will multiply your Strength with that armament by 1.5. If an armament scales with Strength, it will deal more damage when used two-handed. In addition, strength requirements can be met by two-handing. To wield an armament with both hands, press Triangle + L1/R1.</li>
                                        <li>Strength is the only&nbsp;attribute that can increase beyond 99, up to 150. This is not shown to the player. Wielding an armament with two hands while at 99 strength will grant 148 strength, but 150 strength is possible with the help of strength-boosting equipment. Without two-handing, up to 126 strength can be achieved with strength-boosting equipment.</li>
                                        <li>
                                            The following armaments&nbsp;are not given a strength bonus when two-handed due to being dual-wielded instead:
                                            <ul>
                                                <li>All 4 <a class="wiki_link" title="Elden Ring Claws" href="/Claws">Claws</a></li>
                                                <li>All&nbsp;9&nbsp;<a class="wiki_link" title="Elden Ring Fists" href="/Fists">Fists</a></li>
                                                <li><a class="wiki_link" title="Elden Ring Ornamental Straight Sword" href="/Ornamental+Straight+Sword">Ornamental Straight Sword</a></li>
                                            </ul>
                                        </li>
                                        <li>Note that despite the fact that <a class="wiki_link" title="Elden Ring Starscourge Greatsword" href="/Starscourge+Greatsword">Starscourge Greatsword</a>&nbsp;is dual-wielded rather than two-handed, the weapon still receives the two-handed strength bonus for non-paired attacks and can be properly wielded below strength requirement when two-handing despite the game showing otherwise. Paired attacks do not receive the two-handed strength bonus.</li>
                                    </ul>
                                    <h3 class="bonfire">How to Increase&nbsp;Strength in Elden Ring?</h3>
                                    <p><strong>Strength</strong>&nbsp;is one of the Main Attributes that players can spend <a class="wiki_link" title="Elden Ring Runes" href="/Runes" target="">Runes</a>&nbsp;on in order to level up.</p>
                                    <ul>
                                        <li>The ability to level up is unlocked after meeting <a class="wiki_link" title="Elden Ring Melina" href="/Melina" target="">Melina</a> at the Gatefront <a class="wiki_link" title="Elden Ring Site of Grace" href="/Site+of+Grace" target="">Site of Grace</a>.</li>
                                        <li>Leveling up can be done at any Site of Grace&nbsp;once unlocked.</li>
                                        <li>The amount of <a class="wiki_link" title="Elden Ring Runes" href="/Runes" target="">Runes</a>&nbsp;required to raise an Attribute increases with each character <a class="wiki_link" title="Elden Ring Level" href="/Level" target="">Level</a>.</li>
                                        <li>Runes are obtained primarily by defeating <a class="wiki_link" title="Elden Ring Creatures and Enemies" href="/Creatures+and+Enemies" target="">Enemies</a>&nbsp;and <a class="wiki_link" title="Elden Ring Bosses" href="/Bosses" target="">Bosses</a>. Certain consumables such as the <a class="wiki_link" title="Elden Ring Fringefolk's Rune" href="/Fringefolk's+Rune" target="">Fringefolk's Rune</a>&nbsp;can also be used to gain a fixed number of runes.</li>
                                    </ul>
                                    <p><strong>Strength</strong> can be increased by using various&nbsp;<strong>Strength</strong>-boosting Equipment and Effects:</p>
                                    <ul>
                                        <li><a class="wiki_link" title="Elden Ring Omensmirk Mask" href="/Omensmirk+Mask">Omensmirk Mask</a>:&nbsp;Increases <strong>Strength</strong> by 2 while equipped.</li>
                                        <li><a class="wiki_link" title="Elden Ring Imp Head (Fanged)" href="/Imp+Head+(Fanged)">Imp Head (Fanged)</a>:&nbsp;Increases <strong>Strength</strong> by 2 while equipped.</li>
                                        <li><a class="wiki_link" title="Elden Ring Haima Glintstone Crown" href="/Haima+Glintstone+Crown" target="">Haima Glintstone Crown</a>:&nbsp;Increases <strong>Strength</strong> by 2 while equipped.</li>
                                        <li><a class="wiki_link" title="Elden Ring Starscourge Heirloom" href="/Starscourge+Heirloom">Starscourge Heirloom</a>&nbsp;Talisman: Increases <strong>Strength</strong> by 5 while equipped.</li>
                                        <li><a class="wiki_link" title="Elden Ring Radagon's Scarseal" href="/Radagon's+Scarseal">Radagon's Scarseal</a>/<a class="wiki_link" title="Elden Ring Radagon's Soreseal" href="/Radagon's+Soreseal">Soreseal</a>&nbsp;Talisman: Increases&nbsp;<strong>Strength</strong> by 3/5 (respectively)&nbsp;while equipped.</li>
                                        <li><a class="wiki_link" title="Elden Ring Godrick's Great Rune" href="/Godrick's+Great+Rune">Godrick's Great Rune</a>:&nbsp;Increases <strong>Strength</strong> by 5 while active; the effect lasts until death.</li>
                                        <li><a class="wiki_link" title="Elden Ring Strength-knot Crystal Tear" href="/Strength-knot+Crystal+Tear">Strength-knot Crystal Tear</a>: Increases <strong>Strength</strong> by 10 while active; the effect lasts for 3 minutes.</li>
                                        <li><a class="wiki_link" title="Elden Ring Oath of Vengeance" href="/Oath+of+Vengeance" target="">Oath of Vengeance</a> (<a class="wiki_link" title="Elden Ring Grafted Blade Greatsword" href="/Grafted+Blade+Greatsword" target="">Grafted Blade Greatsword</a> weapon <a class="wiki_link" title="Elden Ring Skills" href="/Skills">Skill</a>): Increases <strong>Strength</strong> by 5 while active; the effect lasts for 30 seconds.</li>
                                    </ul>
                                    <h3 class="bonfire">Level Progression for Strength in Elden Ring</h3>
                                    <ul>
                                        <li>
                                            Improving <strong>Strength&nbsp;</strong>grants a small boost to <a class="wiki_link" title="Elden Ring Physical Defense" href="/Physical+Defense">Physical Defense</a>, reducing damage taken from&nbsp;sources of <a class="wiki_link" title="Elden Ring Physical Damage" href="/Physical+Damage">Physical Damage</a>, including enemy attacks and special abilities. Boosting <strong>Strength</strong> beyond 99 does not increase Physical Defense.
                                            <ul>
                                                <li>+0.33 Physical Defense per level from 1 to 30 <strong>Strength</strong></li>
                                                <li>+0.5 Physical Defense per level from 31 to 40 <strong>Strength</strong></li>
                                                <li>+0.75 Physical Defense per level from 41 to 60 <strong>Strength</strong></li>
                                                <li>+0.25 Physical Defense per level from 61 to 99 <strong>Strength</strong></li>
                                            </ul>
                                        </li>
                                    </ul><div data-adunit-name="i-scroll-ad-a0b813c2-31e1-41c4-a058-b669c93e28c4" style="width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center; margin: 8px 0px; min-height: 90px;"><div id="i-scroll-ad-a0b813c2-31e1-41c4-a058-b669c93e28c4" style="width: 100%; justify-content: center; flex-direction: column; align-items: center; min-height: 90px;"></div></div>
                                    <p>&nbsp;</p>




                                </div>
                                <br><br><br>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

